.our-services {
  margin-top: 7rem;
  background: url("/images/services-bg-image.png") no-repeat;
  background-size: cover;
  background-position: center center;
  padding-block: 8rem;
  padding-top: 14rem;
}
