.portfolio-wrap {
  box-shadow: 0 30px 62px 0 rgb(0 0 0 / 15%);
  margin-bottom: 30px;
}

.portfolio-wrap button {
  border: none;
  background: 0 0;
  padding: 0;
  width: 100%;
}

.portfolio-items {
  text-align: center;
}

@media (max-width: 575px) {
  .portfolio-items .hvr-wobble-bottom {
    width: 100%;
  }

  .portfolio-items .portfolio-img img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .portfolio-page .mt {
    margin-top: 30px;
  }
}
