.contact-link-cont li {
  margin: 0;
  border-bottom: 1px solid #e7e7e7;
}

.contact-link-cont .contact-link-flx {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.contact-link-cont .icon {
  margin-right: 1.5rem;
  padding: 1.2rem 1.5rem;
  border-radius: 5px;
  background-color: var(--color-primary);
}

.contact-link-cont .icon svg {
  font-size: 3rem;
  color: white;
}

.contact-link-cont .content span {
  display: block;
  font-weight: bold;
  font-size: 1.6rem;
}

.contact-link-cont .content a {
  font-size: 1.6rem;
  color: #6a6c71;
  transition: var(--transition-3);
}

.contact-link-cont .content a:hover {
  color: var(--color-primary);
}
