.slick-track {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.slide img {
  min-height: 40px;
  object-fit: cover;
  border: 0.5px solid rgba(36, 34, 34, 0.35);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
}
